{% if fail2ban_services is iterable %}
{% for service in fail2ban_services %}
[{{service.name}}]

enabled = {{service.enabled|default("true")}}
port = {{service.port}}
filter = {{service.filter}}
logpath = {{service.logpath}}
{% if service.maxretry is defined %}
maxretry = {{service.maxretry}}
{% endif %}
{% if service.protocol is defined %}
protocol = {{service.protocol}}
{% endif %}
{% if service.action is defined %}
action = {{service.action}}
{% endif %}
{% if service.banaction is defined %}
banaction = {{service.banaction}}
{% endif %}
{% if service.findtime is defined %}
findtime = {{service.findtime}}
{% endif %}
{% if service.bantime is defined %}
bantime = {{service.bantime}}
{% endif %}

{% endfor %}
{% endif %}